.video__data {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  .video__title {
    font-size: 26px;
    margin-bottom: 5px;
  }
  .video__createdAt {
    font-size: 12px;
  }
  a {
    max-width: 120px;
  }
  .edit_video:hover {
    color: greenyellow;
  }
  .delete_video:hover {
    color: red;
  }
  .video__owner {
    margin-bottom: 5px;
    font-size: 14px;
    a {
      color: cornflowerblue;
      text-decoration: underline;
    }
  }
}
.video__comment-form {
  max-width: 720px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  textarea {
    width: 500px;
    background-color: #191919;
    color: white;
    resize: none;
    outline: none;
  }

  .loginUser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    i {
      font-size: 100px;
      margin-bottom: 15px;
    }
  }
  .header__avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;

    margin-bottom: 15px;
  }
  .userName {
    margin: 50px;
  }

  button {
    all: unset;
  }

  button {
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 100px;
    margin-left: 15px;
    width: 100px;
    height: 60px;
    border-radius: 20px;
    background-color: #0a3d62;
    text-align: center;
    cursor: pointer;
  }
}
.video__comments {
  display: flex;
  flex-direction: column;
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;

  button {
    all: unset;
  }
  .edit__button {
    display: block;
    float: right;
    margin-bottom: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 90px;
    height: 35px;
    border-radius: 20px;
    background-color: #0a3d62;
    text-align: center;
    cursor: pointer;
  }

  .video__comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 15px;
    background-color: white;
    color: black;
    margin-bottom: 10px;
    ._date {
      font-size: 12px;
      width: 50px;
      position: absolute;
      color: #9ca3af;
      margin-bottom: 92px;
      font-weight: 500;
    }
    .edit__textArea {
      width: 100%;
      margin-top: 20px;
      min-width: 450px;
      height: 100%;
      resize: none;
    }
    .video__comment__scrip {
      display: flex;
      padding: 15px;
      overflow: auto;
    }
    .video__comment__scrip_text {
      display: block;
      max-width: 550px;
      padding: 10px;
      i {
        margin-top: 15px;
        display: block;
      }
    }
    .video__comment__Btn {
      display: flex;
      margin-right: 15px;
      i {
        font-size: 20px;
        padding: 0px 5px;
        cursor: pointer;
      }
    }
    .video__comment_like {
      // border: 3px solid #353b48;
      // width: 60px;
      // height: 60px;
      // border-radius: 10px;
      // display: flex;
      // justify-content: center;
      // align-items: center;
      margin-right: 10px;
      i {
        border: 3px solid #353b48;
        border-radius: 10px;
        font-size: 20px;
        width: 100%;
        min-width: 60px;
        height: 40px;
        text-align: center;
        padding-top: 20px;
        cursor: pointer;
      }
      .active {
        color: #00a8ff;
        border: 3px solid #00a8ff;
        border-radius: 10px;
      }
    }
  }
}
